.tablewrapper {
    margin: 5%;
    width: 100%;
    display: flex;
    justify-content: center;

    table {
        border-collapse: collapse;
        width: 100%;

        td {
            width: 12%;
            text-align: center;
            border-bottom: 1px solid rgba(255,255,255,0.3);
        }

        .description {
            //width: 25%;
        }

        img {
            width: 30px;
            height: 30px;
        }

       /* // @media only screen and(max-width: 430px) {
        //     img {
        //         display: none;
        //     }
        // }*/
    }
}

.capitalise:first-letter {
    text-transform: capitalize;
}