@keyframes spinner {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.searching {
    border: 8px solid rgba(245,245,245,0.1);
    border-top: 8px solid rgba(245,245,245,0.8);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spinner 1s linear infinite;
}