.searchbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 8%;
    align-items: center;
}

button {
    border-radius: 100%;
    line-height: 2em;
    height: 2em;
    width: 2em;
    border: 2px outset rgba(190,190,190, 0.5);
    color: #fff;
    padding: 0;
    margin-left: 2px;
    background: linear-gradient(to bottom right, rgba(190,190,190,0.3), rgba(190,190,190,0.5));
    cursor: pointer;
    outline: none;
    text-align: center;

    &:active {
        border: 1px inset rgba(255,255,255, 0.5);
        background: linear-gradient(to bottom right, rgba(190,190,190,0.5), rgba(190,190,190,0.3));
    }
}

input {
    border-radius: 50px;
    outline: none;
    border: 1px solid #fff;
    padding: 5px;
    margin-right: 2px;
    background: none;
    color: #fff;
    font-family: inherit;
    font-size: 1.25em;
    width: 35%;

    &::placeholder {
        color: #fff;
    }

    &:focus {
        box-shadow: 0 0 20px rgba(221,221,221, 1);
    }
}