.arrow {
    margin: 10px;
    cursor: pointer;
    font-size: 4em;
    font-family: Raleway, sans-serif;
    color: rgba(190,190,190, 0.5);

    &:active {
        color: rgba(190,190,190, 1);
    }
}