$clearsky: url(Assets/clear_sky.jpeg);
$fewclouds: url(Assets/few_clouds.jpeg);
$scattered: url(Assets/scattered_clouds.jpeg);
$broken: url(Assets/broken_clouds.jpeg);
$rain: url(Assets/shower_rain.jpg);
$snow: url(Assets/snow.jpg);
$storm: url(Assets/storm.jpeg);
$mist: url(Assets/fog.jpeg);