$clearsky: url(Assets/clear_sky.jpeg);
$few_clouds: url(Assets/few_clouds.png);
$scattered: url(Assets/scattered_clouds.jpeg);
$broken: url(Assets/broken_clouds.jpeg);
$shower: url(Assets/shower_rain.jpeg);
$rain: url(Assets/rain.jpeg);
$snow: url(Assets/snow.jpeg);
$storm: url(Assets/storm.jpeg);
$mist: url(Assets/fog.jpeg);