@import './Assets/images.scss';

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-family: Raleway, sans-serif;
    transition: background-image 1s;
    background: rgba(0,0,0,0.25);

    &:after {
        transition: background-image 1s;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0.5;
    }

    h2 {
        text-align: center;
        font-size: 2em;
        span {
            font-size: 40%;
        }  
    }
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchingContainer {
    display: none;
    border-radius: 5px;
}

.clear::after {
    background-image: $clearsky;
}

.storm::after {
    background-image: $storm;
}

.snow::after {
        background-image: $snow;
    }

.rain::after {
    background-image: $rain;
}

.scattered::after {
    background-image: $scattered;
}

.mist::after {
    background-image: $mist;
}

.few::after {
    background-image: $fewclouds;
}

.broken::after {
    background-image: $broken;
}

.dark {
    background-color: #000;
}