@import './Assets/images.scss';

body {
    color: #fff;
    font-family: Raleway, sans-serif;
    margin: 0;
    padding: 0;
    background-attachment: fixed;

    h2 {
        text-align: center;
        font-size: 2em;
        span {
            font-size: 40%;
        }  
    }
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

.searchingContainer {
    position: absolute;
    z-index: 1;
}

.sun {
    text-align: center;

    p span {
        font-weight: bold;
    }
}

@keyframes loading {
    from {opacity:1;}
    to {opacity:0;}
}

.loading {
        font-size: 1.5em;
        opacity:1;
        animation-name: loading;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
        animation-timing-function: linear;
        text-align: center;
        margin: 50% 0;
        color: #003366;
}

.clear {
    background-image: $clearsky;
}

.storm {
    background-image: $storm;
}

.snow {
    background-image: $snow;
    }

.rain {
    background-image: $rain;
}

.scattered {
    background-image: $scattered;
}

.mist {
    background-image: $mist;
}

.few {
    background-image: $fewclouds;
}

.broken {
    background-image: $broken;
}

.dark {
    background-color: #000;
}