@import './Assets/images.scss';

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-family: Raleway, sans-serif;

    h2 {
        text-align: center;
        span {
            font-size: 40%;
        }  
    }
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*// .searchbar {
//     margin: 10%;
//     width: 100%;
// }*/

.clear {
    background-image: $clearsky;
}

.storm {
    background-image: $storm;
}

.snow {
    background-image: $snow;
    color: #7ec0ee;
}

.rain {
    background-image: $rain;
}

.scattered {
    background-image: $scattered;
}

.mist {
    background-image: $mist;
}

.few {
    background-image: $fewclouds;
}

.broken {
    background-image: $broken;
}