.indicator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 10px;

    div {
        width: 100%;
        margin: 0 5px;
        font-size: 1.3em;
    }
}

.selected {
    border-bottom: 2px solid rgba(255,255,255,1);
    color: rgba(255,255,255,1);
}

.notselected {
    border-top: 2px solid rgba(255,255,255,0.4);
    color: rgba(255,255,255,0.4);
}